@import "tailwindcss";

:root {
  --background: #ededed;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

body {
  font-family: var(--font-inter);
  background: var(--background);
  color: var(--foreground);
}

.app-container {
  @apply container mx-auto lg:px-24 md:px-16 px-5;
}

button {
  cursor: pointer;
}

.star-btn:hover .star-icon {
  color: #fbbf24;
  fill: #fbbf24;
}